<footer id="footer" class="footer" role="contentinfo">
  <div class="container">
    <div class="cols modules">

      <div class="cols-8 module">
        <div class="footer-copyright">&copy; 2013 Transfers 24</div>
        <p>Комфорт и&nbsp;профессионализм. Сочетание технологий<br>и&nbsp;скорости исполнения, мы&nbsp;всегда рядом.</p>
      </div>

      <div class="cols-2 module">
        <nav class="footer-nav">
          <a href="/booking.html" class="footer-nav_a">VW Polo sedan</a>
          <a href="/booking.html" class="footer-nav_a">VW Jatta, Skoda Octavia</a>
          <a href="/booking.html" class="footer-nav_a">Ford Galaxy</a>
          <a href="/booking.html" class="footer-nav_a">Mercedes E-class</a>
        </nav>
      </div>

      <div class="cols-2 module">
        <div class="footer-booking">
          <p>Бронируйте по телефону: <span>8&nbsp;499&nbsp;638&nbsp;2260</span></p>
          <img src="/img/payment-services.png" alt="Payment Services">
        </div>
      </div>

    </div>
  </div>
</footer>